@charset "utf-8";
/* #div1 {
	background-attachment: scroll;
	background-image: url(img/bg2.JPG);
	background-repeat: no-repeat;
	background-position: center top;
	width: 800px;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 500px;
	border: thin solid #009900;
} */
#div1 li {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: url(img/treey.gif);
}

body {
	text-align: center;
	color: red;
}
#div1 h2 {
	/* color: #006600; */
	text-decoration: blink;
	text-align: center;
}


#div1{
	text-align: center;
	border: 2px solid #alalal;
	padding: 10px 40px;
	background: #dddddd;
	width: 350px;
	border-radius: 25px;
	-moz-border-radius: 25px;
}
